* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: "DM Sans", sans-serif;
  }
  .header-nav{
    height: 50px;
    text-align: center;
    font-size: 30px;
    background-color: black;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;

  }
  .header-nav-2{
    text-align: right;
    position: relative;
    justify-content: left;
  }

  .header-nav-3{
    justify-content: right;
    position: relative;
    text-align: right;
  }
  
  .movie-dashboard {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 50px;
  }
  
  .header {
    display: flex;
    align-items: center;
    height: 8vh;
    background-color: #ffffff;
  }
  
  .logo-img {
    margin-left: 100px;
    height: 26px;
    justify-content: center;
    size: 50px;
  }
  
  .poster-section {
    position: relative;
  }
  
  .poster-img {
    width: 100%;
    height: auto;
  }
  
  .poster-content {
    position: absolute;
    top: 40%;
    left: 100px;
  }
  
  .poster-heading {
    color: #fff;
    font-size: 45px;
  }
  
  .poster-description {
    max-width: 400px;
    color: #fff;
    font-size: 18px;
    margin: 15px 0 15px 0;
  }
  
  .poster-watch-button {
    background-color: #be123c;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    column-gap: 10px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
  }
  
  .movie-results-section {
    display: flex;
    flex-direction: column;
    margin: auto;
    /* border: 1px solid red; */
    width: 90%;
  }
  
  .movie-search-section {
    align-self: center;
    width: 50%;
    display: flex;
    border: 2px solid red;
    align-items: center;
    border-radius: 5px;
    margin-top: 25px;
    padding-right: 10px;
  }
  
  .search-input-box {
    width: 100%;
    border: none;
    height: 35px;
    border-radius: 5px;
    padding: 0 5px;
    outline: none;
    font-weight: 400;
    font-size: 16px;
  }
  
  .search-icon-img {
    cursor: pointer;
    color: #000;
    size: 1px;
  }
  
  .recommended-movies-section {
    margin: 30px 0;
  }
  
  .filter-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .filter-movies-heading {
    font-size: 32px;
  }
  
  .search-results-section {
    display: flex;
    margin-top: 30px;
    column-gap: 30px;
  }
  
  .search-movie {
    height: 400px;
  }
  
  .search-movie-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .search-movie-title {
    color: #000;
    font-family: "Roboto";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
  }
  
  .search-movie-release-date {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .search-movie-description {
    color: #000;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .genere {
    color: #be123c;
    font-weight: 500;
    font-size: 16px;
    margin-top: 10px;
  }
  
  
  .splide__slide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 25px;
    text-align: center;
    
  }
 
  .position-top-start {
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
   
  }
  
  .position-top-center {
    align-items: flex-start;
    justify-content: center;
    text-align: center;
  }
  
  .position-top-end {
    align-items: flex-start;
    justify-content: flex-end;
    text-align: right;
  }
  
  .position-middle-start {
    align-items: center;
    justify-content: flex-start;
    text-align: left;
  }
  
  .position-middle-center {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .position-middle-end {
    align-items: center;
    justify-content: flex-end;
    text-align: right;
  }
  
  .position-bottom-start {
    align-items: flex-end;
    justify-content: flex-start;
    text-align: left;
  }
  
  .position-bottom-center {
    align-items: flex-end;
    justify-content: center;
    text-align: center;
  }
  
  .position-bottom-end {
    align-items: flex-end;
    justify-content: flex-end;
    text-align: right;
  }
  
  @media (max-width: 768px) {
    .logo-img {
      margin-left: 20px;
      height: 16px;
    }
  
    .poster-section {
      height: 30vh;
    }
  
    .poster-content {
      top: 50px;
      left: 10px;
    }
  
    .poster-img {
      height: 100%;
    }
  
    .poster-heading {
      font-size: 18px;
      margin: 0;
    }
  
    .poster-description {
      width: 90%;
      font-size: 12px;
      margin: 8px 0;
    }
  
    .poster-watch-button {
      padding: 5px;
      font-size: 12px;
    }
  
    .movie-results-section {
      width: 90%;
    }
  
    .movie-search-section {
      width: 100%;
    }
  
    .search-movie {
      width: auto;
      height: 150px;
    }
  
    .search-movie-title {
      font-size: 20px;
    }
  
    .search-results-section {
      column-gap: 10px;
      margin-bottom: 0;
    }
  
    .search-movie-release-date,
    .search-movie-description,
    .genere {
      font-size: 12px;
    }
  
    .search-movie-release-date {
      margin: 5px 0;
    }
  
    .recommended-movies-heading {
      font-size: 20px;
      margin-top: 10px;
    }
  
    
    .movie-title {
      font-size: 14px;
    }
  
    .genre-para {
      font-size: 12px;
    }
  
    
    .drop-down-options {
      font-size: 16px;
    }
  
    .filter-movies-heading {
      font-size: 22px;
    }
  
    .favt-heart-icon-container {
      left: 10px;
      padding: 5px;
    }
  
    .heart-icon {
      font-size: 14px;
    }
  }
  
